root = true

[*.cs]
dotnet_naming_rule.parameters.severity = warning
dotnet_naming_rule.parameters.symbols = parameters_symbols
dotnet_naming_rule.parameters.style = parameters_style
dotnet_naming_symbols.parameters_symbols.applicable_kinds = parameter
dotnet_naming_symbols.parameters_symbols.applicable_accessibilities = *
dotnet_naming_style.parameters_style.capitalization = camel_case
