root = true

[*.cs]
dotnet_naming_rule.async_methods.severity = warning
dotnet_naming_rule.async_methods.symbols = async_methods_symbols
dotnet_naming_rule.async_methods.style = async_methods_style
dotnet_naming_symbols.async_methods_symbols.applicable_kinds = method
dotnet_naming_symbols.async_methods_symbols.applicable_accessibilities = private
dotnet_naming_symbols.async_methods_symbols.required_modifiers = async
dotnet_naming_style.async_methods_style.capitalization = pascal_case
dotnet_naming_style.async_methods_style.required_suffix = Async
