root = true

[*.cs]
dotnet_naming_rule.static_fields.severity = warning
dotnet_naming_rule.static_fields.symbols = static_fields_symbols
dotnet_naming_rule.static_fields.style = static_fields_style
dotnet_naming_symbols.static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.static_fields_symbols.required_modifiers = static
dotnet_naming_style.static_fields_style.capitalization = camel_case
dotnet_naming_style.static_fields_style.required_prefix = s_
