root = true

[*.cs]
dotnet_naming_rule.type_parameters.severity = warning
dotnet_naming_rule.type_parameters.symbols = type_parameters_symbols
dotnet_naming_rule.type_parameters.style = type_parameters_style
dotnet_naming_symbols.type_parameters_symbols.applicable_kinds = type_parameter
dotnet_naming_symbols.type_parameters_symbols.applicable_accessibilities = *
dotnet_naming_style.type_parameters_style.capitalization = pascal_case
dotnet_naming_style.type_parameters_style.required_prefix = T
