root = true

[*.cs]
dotnet_naming_rule.interfaces.severity = warning
dotnet_naming_rule.interfaces.symbols = interfaces_symbols
dotnet_naming_rule.interfaces.style = interfaces_style
dotnet_naming_symbols.interfaces_symbols.applicable_kinds = interface
dotnet_naming_symbols.interfaces_symbols.applicable_accessibilities = private
dotnet_naming_style.interfaces_style.capitalization = pascal_case
dotnet_naming_style.interfaces_style.required_prefix = I
